@page "/"
@layout Layout.EmptyLayout
@inject Data.LoginManager LoginManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="dashboard">Dashboard</a>

@code {
    // basic demo of how to call functions on page load
    // To be removed later
    protected override async Task OnInitializedAsync(){
        //await LoginManager.GetPasswordHash("abc");
    }
}